name: App Connect Template Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - run: touch package-lock.json
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '22.x'
    - run: npm i
    - run: npm test
